body{
   font-family:sans-serif;  
}
.parent-container{
    display:flex;
    justify-content:space-around;
}
.win-header-button-icon,
.win-sub-header-content,
.win-demo-laptop-screen,
.win-header-button-text{
    position: relative
}
.app-logo-sub-header,
.win-header-text-below,
.footer a,
.link-title{
   color:#0BA4E0 
}
.win-header-button-icon,
.win-header-text-below i,
.win-demo-laptop-logo{
    background-repeat:no-repeat;
    background-size:cover;
}

.app-logo{
    width:162px;
    height:162px;
    background:#333333;
    box-shadow: 0 15px 32px #777;
    border-radius:50%;
}
.app-logo-text-container{
    margin-left: 32px;
    align-self: center;
}
.app-logo-text-header{
    font-size:61px;
    line-height:1;
    margin:0;
    margin-top:-25px;
    width: 360px;
    font-weight:500;
}
.app-logo-sub-header{
    font-size:62px;
    
}
.win-header-container{
    display:block;
    margin-top:32px;
    margin-left:25px;
}
.win-header-text{
    font-weight: bold;
    font-size:40px;
    margin-top:55px;
}
.win-header-button{
    background:#0BA4E0;
    color:#fff;
    box-sizing:border-box;
    height:60px;
    font-size:24px;
    text-decoration:none;
    border-radius:0;
    transition:.2s;
    font-weight:700;
    padding: 0 30px;
    cursor:pointer;
    box-shadow: 0 10px 20px rgba(11,164,224,.3);
    max-width:340px;
    border: none;
    margin-top:32px;
    -webkit-font-smoothing:antialiased;
}
.win-header-button:hover{
    box-shadow: 0 10px 20px rgba(11,164,224,.7)
}
.win-header-button:focus{
    outline:none
}
.win-header-button:active{
    box-shadow: 0 10px 20px rgba(11,164,224,1)
}
.win-header-button-icon{
    width:58px;
    right:20px;
    padding-right:32px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' id='Layer_1' style='enable-background:new 0 0 30 30;' version='1.1' viewBox='0 0 30 30' xml:space='preserve' sodipodi:docname='rocket.svg' inkscape:version='0.92.2 (5c3e80d, 2017-08-06)'%3E%3Cmetadata id='metadata17'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id='defs15' /%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='1366' inkscape:window-height='705' id='namedview13' showgrid='false' inkscape:zoom='7.8666667' inkscape:cx='15' inkscape:cy='15' inkscape:window-x='-4' inkscape:window-y='-4' inkscape:window-maximized='1' inkscape:current-layer='Layer_1' /%3E%3Cpolygon points='11,22 8,19 8,14 16,22 ' id='polygon2' style='fill:%23ffffff;fill-opacity:1' /%3E%3Cpath d='M26.979,3.021C26.979,3.021,18,3,11,10c-2.99,2.99-3,8-1,10s7.01,1.99,10-1C27,12,26.979,3.021,26.979,3.021z M17,11 c0-1.105,0.895-2,2-2c1.105,0,2,0.895,2,2s-0.895,2-2,2C17.895,13,17,12.105,17,11z' id='path4' style='fill:%23ffffff;fill-opacity:1' /%3E%3Cpath d='M18.811,18.676c0,0,0.757,3.784-0.757,5.297C15.784,26.243,12,27,12,27l1-7L18.811,18.676z' id='path6' style='fill:%23ffffff;fill-opacity:1' /%3E%3Cpath d='M11.324,11.189c0,0-3.784-0.757-5.297,0.757C3.757,14.216,3,18,3,18l7-1L11.324,11.189z' id='path8' style='fill:%23ffffff;fill-opacity:1' /%3E%3Cpath d='M9.542,22.34c-0.045,0.064-0.072,0.138-0.13,0.195c-0.975,0.975-2.438,0.488-2.438,0.488s-0.488-1.463,0.488-2.438 c0.058-0.058,0.131-0.084,0.195-0.13L7.2,19.997c-0.38,0.1-0.741,0.29-1.038,0.587c-1.366,1.366-1.149,4.4-1.149,4.4 s3.016,0.235,4.4-1.149C9.71,23.538,9.9,23.177,10,22.797L9.542,22.34z' id='path10' style='fill:%23ffffff;fill-opacity:1' /%3E%3C/svg%3E");
}
.win-header-text-below{
    text-decoration:none;
    font-size:18px;
}
.win-header-text-below b{
    color:#555
}
.win-header-text-below i{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' height='36.923077' version='1.1' viewBox='0 0 36.923077 36.923077' width='36.923077' id='svg13' sodipodi:docname='iconfinder_github-social-media_765246.svg' inkscape:version='0.92.2 (5c3e80d, 2017-08-06)'%3E%3Cmetadata id='metadata17'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='1366' inkscape:window-height='705' id='namedview15' showgrid='false' inkscape:zoom='3.9333333' inkscape:cx='18.461538' inkscape:cy='18.461538' inkscape:window-x='-4' inkscape:window-y='-4' inkscape:window-maximized='1' inkscape:current-layer='svg13' /%3E%3Ctitle id='title2' /%3E%3Cdesc id='desc4' /%3E%3Cdefs id='defs6' /%3E%3Cg id='black' style='fill:none;fill-rule:evenodd;stroke:none;stroke-width:1' transform='translate(-11.538462,-11.538462)'%3E%3Cg id='slice' transform='translate(-900,-500)' /%3E%3Cg id='github' transform='translate(11,11)' style='fill:%23000000'%3E%3Cpath d='m 14.425274,36.516889 c 0,-0.449716 -0.01587,-1.639662 -0.02493,-3.220059 -5.1351631,1.143464 -6.2186359,-2.537931 -6.2186359,-2.537931 -0.8398048,-2.18699 -2.0502117,-2.76918 -2.0502117,-2.76918 -1.6762096,-1.174839 0.126934,-1.150436 0.126934,-1.150436 1.8530106,0.133637 2.8276828,1.951093 2.8276828,1.951093 1.6467428,2.892358 4.3202908,2.058002 5.3731638,1.573424 0.167734,-1.223645 0.644871,-2.058002 1.171874,-2.530959 -4.099291,-0.477605 -8.4093817,-2.10216 -8.4093817,-9.355715 0,-2.066137 0.7196707,-3.755766 1.9006108,-5.079349 -0.1892678,-0.478767 -0.823938,-2.403132 0.1813344,-5.0096247 0,0 1.5504085,-0.5089807 5.0762285,1.9406337 1.472209,-0.4195019 3.052084,-0.6309962 4.622893,-0.6379685 1.567409,0.00697 3.146152,0.2184666 4.62176,0.6379685 3.523553,-2.4496144 5.071696,-1.9406337 5.071696,-1.9406337 1.007539,2.6053307 0.374002,4.5296957 0.183601,5.0096247 1.183206,1.323583 1.89721,3.013212 1.89721,5.079349 0,7.272148 -4.316891,8.8723 -8.429781,9.340609 0.664137,0.584514 1.253474,1.739598 1.253474,3.505924 0,2.530959 -0.0238,4.572692 -0.0238,5.19323 0,0.506656 0.333202,1.094657 1.270474,0.90989 7.329308,-2.507718 12.614072,-9.598586 12.614072,-17.958419 0,-10.4550214 -8.266581,-18.92989846 -18.462106,-18.92989846 -10.194391,0 -18.46097146,8.47487706 -18.46097146,18.92989846 0.001133,8.362157 5.29043016,15.457674 12.62653846,17.960743 0.922539,0.173146 1.260274,-0.411368 1.260274,-0.912214 z' id='path9' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    padding-right: 20px;
    
}
.win-header-promo-container{
    width:440px;
    height:440px;
    margin-top:32px;
}
.win-header-promo-img-backdrop{
    position:absolute;
    width:440px;
    filter:blur(15px);
    opacity:0.7;
    margin-top:18px;
}
.win-header-promo-img{
    position:absolute;
    width:410px;
    margin-left:15px;
}
.win-header-text-demo-container h2{
       margin: 28px 0 0 0; 
    }
.win-header-text-demo-container{
    background:#0BA4E0;
    margin-top:32px;
    color: #fff;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    padding: 0 20% 25px 8%; 
/*    top right bottom left*/
}
.win-demo-laptop{
    background: #555;
    width: 705px;
    margin: auto;
    border-radius: 0px;
    text-align: center;
    position: relative;
    z-index: 1;
    height: 500px;
    float: left;
    margin-left: 7%; 
}
.win-demo-laptop-screen{
    width: 900px;
    height: 600px;
    -webkit-transform: scale(0.7);
    right: 100px;
    top: -65px;
    
}
.win-demo-laptop-logo{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 452px;
    margin-left: -25px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' enable-background='new 0 0 32 32' version='1.1' viewBox='0 0 32 32' xml:space='preserve' id='svg17' sodipodi:docname='winLogo.svg' inkscape:version='0.92.2 (5c3e80d, 2017-08-06)'%3E%3Cmetadata id='metadata23'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id='defs21' /%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='1366' inkscape:window-height='705' id='namedview19' showgrid='false' inkscape:zoom='7.375' inkscape:cx='16' inkscape:cy='16' inkscape:window-x='-4' inkscape:window-y='-4' inkscape:window-maximized='1' inkscape:current-layer='Flat_copy' /%3E%3Cg id='Flat_copy'%3E%3Cg id='g14' transform='translate(1,-0.005)' style='fill:%23ffffff;fill-opacity:1'%3E%3Cpolygon points='14.474,15.479 14.474,8.903 23.417,7.588 23.417,15.479 ' id='polygon6' style='fill:%23ffffff;fill-opacity:1' /%3E%3Cpolygon points='6.583,15.479 6.583,10.062 13.422,9.059 13.422,15.479 ' id='polygon8' style='fill:%23ffffff;fill-opacity:1' /%3E%3Cpolygon points='14.474,16.531 14.474,23.107 23.417,24.422 23.417,16.531 ' id='polygon10' style='fill:%23ffffff;fill-opacity:1' /%3E%3Cpolygon points='6.583,16.531 6.583,21.948 13.422,22.951 13.422,16.531 ' id='polygon12' style='fill:%23ffffff;fill-opacity:1' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.win-header-center{
    text-align:center;
    font-size: 40px;
}
.win-sub-header-container{
    background: #0BA4E0;
    padding: 10px;
    color: #fff;
    font-size: 13px;
    margin: 0;
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
    line-height: 1.5;
    margin-bottom:22%;
}
.win-sub-header-content{
    font-weight: 400;
    left:45px;
}
.win-sub-header-demo-button{
    width: 240px;
    object-fit: contain;
    margin-top: -28px;
    box-shadow: 0 10px 20px #555;
    transition: .2s;
}
.win-sub-header-demo-button:hover{
    box-shadow: 0 15px 25px #555;
}
.win-img-framework-icons-wrap{
    width: 82%;
    margin: auto
}
.win-img-framework-icons{
    max-width: 100%
}




 .links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}
.links img{
    width: 250px
}
.links a{
    text-decoration: none;
    color: #444;
    width: 33%;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding: 15px;
}
.link-title{
    font-weight: 700;
    font-size: 20px !important;
}
.links,.links a,.link-title{
    --table-monospace-font-size: inherit;
    --pre-code-padding: 20px;
    --pre-code-line-height: 20px;
    --pre-code-font-size: 13.5px;
    --pre-code-border-radius: 4px;
    font-size: 16px;
    line-height: 1.75;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    text-align: center;
}
h2.win-header-center.terminal-{
    font-size: 34px;
    padding-left:20px;
}
h2.win-header-center.terminal- i{
    filter: invert(1);
    font-size: 34px;
    margin-left: 30px;
    padding-left: 8px;
    padding-top: 2px;
}

.terminal red,
.terminal yellow,
.terminal green{
    background: #eee;
    height: 18px;
    width: 18px;
    display: inline-block;
    border-radius: 50px;
    margin-right:8px;
}
.terminal red{
    background: #fb4948
}
.terminal yellow{
   background: #fdb225 
}
.terminal green{
    background: #2ac833
}
.terminal{
    font-size: 20px;
    padding: 20px 15px 20px 15px;
    background: #111;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,.28);
    margin: 15px;
    border-radius: 12px;
}
.terminal span{
    user-select: none;
    opacity: .5;
}
.terminal p{
    overflow: hidden;
    line-break: anywhere;
    display: contents;
}
    
.footer{
    border-top: 10px solid #0BA4E0;
    padding: 2px 25px 25px 105px;
    font-size: 18px;
   
}
.footer a{
    text-decoration: none;
}


@media only screen and (max-width: 760px) {
    .parent-container,
    .win-demo-laptop-logo,
    .links{
        display: block
    } 
    .app-logo{
        width: 100px;
        height: 100px;
    }
    .app-logo-text-header{
        font-size: 32px;
        width:fit-content;
    }
    .app-logo-text-container{
        width:100%
    }
    .app-logo-sub-header{
        font-size: 33px;
    }
    .win-header-text{
        font-size: 34px;
        margin-top: 40px;
    }
    .win-header-promo-container{
        display: none;
    }
    .win-header-text-demo-container{
        display: inline-block;
        width: 100%;
        padding: 0 0 35px 0;
        font-size: 20px;
    }
    .win-header-button{
        width: 215px;
        font-size: 16px;
        height: 45px;
        line-height: 0;
    }
    .win-header-button span{
        top: -2px;
        position: relative;
    }
    .win-header-button-icon{
        font-size:25px;
    }
    .win-header-text-below{
        font-size:14px;
    }
    .win-header-text-below i{
        margin-right: 5px;
    font-size: 15px;
    padding-right: 20px;
    padding-top: 2px;
    }
    .win-demo-laptop{    
        width:100%;
        margin: -25px 0 0 0;
        height: 600px;
    }
    .win-demo-laptop-screen{
        width:95%;
        right:0;
        -webkit-transform:none;
        top:25px;
        height:500px;
    }
    
    .win-demo-laptop-logo{
        color: #999;
        left: 42%; 
        margin-left: 0;
        top: 545px;
    } 

    .win-sub-header-container{   
        margin: 20px 0 0 0;
        display: inline-block;
        width: 100%;
        padding: 45px 0 0 0;
    }
    .win-header-text-demo-container h2{
       margin: 28px 0px 0px 25px; 
    }
    .win-sub-header-content{
        left: 0;
        padding-left: 25px;
        padding-right: 25px;
    }
    .footer{
        padding: 2px 25px 25px 25px
    }
    .win-header-text,
    .win-sub-header-content,
    .win-header-button,
    .win-header-center{
        user-select:none
    }
}
